@{
    ViewData["Title"] = "Accueil";
}

<div class="row" style="vertical-align: middle">
    <div class="col-3">
        <img src="images/affiche.jpg" class="img-responsive" alt="affiche de présentation" style="height:18rem;object-fit:cover;"/>
    </div>

    <div class="col-6">
        Créée en 2014 par des passionnés de danses latines, l'association Afro latino partage sa passion et sa bonne humeur pour vous apprendre les danses latines !
        De tous âges et de tous niveaux, venez découvrir ces danses sous l'enseignement de Mousse, notre professeur principal.
    </div>

    <div class="col-3">
        <img src="images/photoMousse.gif" class="img-responsive" alt="photo de Mousse" style="height:150px;"/>
        <br/><br/>
        <button type="button" class="btn btn-outline-danger">Découvrir Mousse</button>
    </div> 
</div>

<br/>

<h1>Cours et stages de danses afro-latines à Bordeaux et alentours</h1>

<div class="row center" style="margin-left:10px">

<div class="card col-2 m-2" style="width:16rem;">
    <img src="images/salsa.png" class="card-img-top" alt="Salsa cubaine" style="width:80%;"/>
    <div class = "card-body">
        <h5 class="card-title"> Salsa cubaine </h5>
        <p class="card-text">
            bla bla bla
        </p>
    </div>
</div>
<div class="card col-2 m-2" style="width:16rem;">
    <img src="images/salsap.jpg" class="card-img-top" alt="Salsa portoricaine" style="width:80%;"/>
    <div class = "card-body">
        <h5 class="card-title"> Salsa portoricaine </h5>
        <p class="card-text">
            bla bla bla
        </p>
    </div>
</div>
<div class="card col-2 m-2" style="width:16rem;">
    <img src="images/bachata.webp" class="card-img-top" alt="Bachata" style="width:30%;"/>
    <div class = "card-body">
        <h5 class="card-title"> Bachata </h5>
        <p class="card-text">
            bla bla bla
        </p>
    </div>
</div>
<div class="card col-2 m-2" style="width:16rem;">
    <img src="images/kiz.jpg" class="card-img-top" alt="Kizumba" style="width:80%;"/>
    <div class = "card-body">
        <h5 class="card-title"> Kizumba </h5>
        <p class="card-text">
            bla bla bla
        </p>
    </div>
</div>
</div>
